rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // For this demo, we'll allow reads and writes to all documents.
    // In a production app, you should secure your data!
    // See https://firebase.google.com/docs/firestore/security/get-started
    match /{document=**} {
      allow read, write: if true;
    }
  }
}